@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

$white: #fff;
$mild: #f7f7f7;
$black: #000;
$gold: #b88b58;
$gray: #aeaeae;
$gray2: #ededed;
$gray3: #cfcfcf;
$gray4: #bebebe;

[class*="col-"] {
	float: left;
	min-height: 1px;
	display: inline-block;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-0 {margin-left: 0;}
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}

*, *:after, *:before {
	box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  // border: 1px solid red;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.btn-gold {
  margin-top: 49px;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  height: 45px;
  width: 194px;
  background: $gold;
  border-radius: 20px;
  &:active {
    background: $black;
  }
  a {
    color: $white;
  }
}

.pagination {
	display: inline-block;
	border: 1px solid $gold;
	border-radius: 50%;
	height: 14px;
	width: 14px;
	&:first-of-type {
		background: $gold;
	}
	&:hover {
		background: $gold;
		cursor: pointer;
	}
}

h2 {
  padding-top: 62px;
  font-size: 30px;
  font-weight: semibold;
  text-align: center;
}
h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  color: $gray;
  margin-bottom: 55px;
}

nav {
  background: $black;
  height: 100px;
  width: 100%;
  text-align: right;
  position: fixed;
	z-index: 10;
  top: 0;
  img {
    display: inline-block;
    position: relative;
    top: 20px;
    right: 80px;
  }
  a {
    color: $white;
    font-weight: bold;
    font-size: 14px;
    line-height: 100px;
    padding-bottom: 36.5px;
    margin-left: 23px;
    &:last-of-type {
      margin-right: 30px;
    }
    &:hover {
    border-bottom: 5px solid $gold;
    }
  }
}

#home {
  background: url('img/home.jpg') no-repeat center / cover;
  height: 100vh;
  padding-top: 100px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  h1 {
    font-size: 72px;
    line-height: 69px;
    font-weight: bold;
    margin-top: 20vh;
    span {
      color: $gold;
    }
  }
  h2 {
    font-size: 24px;
    line-height: 18px;
    font-weight: semibold;
    margin-top: 29px;
    padding-top: 0;
  }
  .pagination {
    margin: 20vh 5px 0;
  }
  div {
    position: relative;
  }
  img {
    position: absolute;
    right: 85px;
    bottom: -83px;
		cursor: pointer;
  }
}

#about {
  height: 532px;
  background: $mild;
  color: $black;
  p {
    font-size: 14px;
    line-height: 25px;
    font-weight: light;
    margin: 0 30px 37px;
  }
  button {
    margin: 0 30px 0;
  }
  img {
    -webkit-box-shadow: -1px 12px 56px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 12px 56px -10px rgba(0,0,0,0.75);
    box-shadow: -1px 12px 56px -10px rgba(0,0,0,0.75);
    cursor: pointer;
  }
}

#services {
  height: 420px;
  background: $black;
  color: $white;
  text-align: center;
  h3 {
    margin-bottom: 45px;
  }
  .col-3 {
    border-left: 2px solid #383838;
    border-right: 2px solid #383838;
    &:nth-of-type(2) {
      border: none;
    }
    &:nth-of-type(3) {
      border-right: none;
    }
    img {
      margin: 10px 0 25px;
    }
    h4 {
      text-transform: uppercase;
      font-size: 18px;
      line-height: 24px;
      padding: 0 60px 0;
    }
    p {
      color: $gray;
      font-size: 12px;
      line-height: 21px;
      padding: 5px 20px 10px;
    }
  }
}

#projects {
  height: 970px;
	text-align: center;
	background: $mild;
	.menu {
		background: $gray2;
		width: 710px;
		height: 58px;
		border-radius: 30px;
		border: 1px solid $gray3;
		margin: 0 auto 38px;
		span {
			font-size: 14px;
			padding: 14.5px 21px;
			line-height: 58px;
			border-right: 1px solid $gray3;
			cursor: pointer;
			&:last-of-type {
				border-right: none;
			}
			&:hover {
				border-bottom: 5px solid $gold;
			}
		}
	}
	.row {
		.col-3 {
			position: relative;
			cursor: pointer;
			&:hover img {
				filter: brightness(.3);
			}
			&:hover .layer {
				opacity: 1;
			}
			img {
				padding-bottom: 30px;
			}
			.layer {
				opacity: 0;
				span {
					font-size: 18px;
					line-height: 18px;
					color: $white;
					position: absolute;
					top: 45px;
					left: 0;
					right: 0;
				}
				p {
					font-size: 12px;
					line-height: 21px;
					color: $white;
					position: absolute;
					top: 75px;
					left: 0;
					right: 0;
					padding: 0 55px;
					font-weight: light;
				}
			}
		}
	}
	button {
		margin-top: 0;
	}
}

#team {
	height: 710px;
	text-align: center;
	background: url('img/team_background.jpg') no-repeat center / cover;
	.container {
		h2 {
			color: $white;
		}
		h3 {
			margin-bottom: 43px;
		}
		.col-4 {
			text-align: center;
			height: 432px;
			.layer {
				width: 350px;
				height: 432px;
				background: $white;
				img {
					margin-top: 48px;
					margin-bottom: 38px;
				}
				h4 {
					font-size: 21px;
					line-height: 21px;
					font-weight: 600;
					margin-bottom: 4px;
				}
				span {
					font-size: 14px;
					line-height: 24px;
					font-weight: 300;
				}
				.social {
					margin-top: 36px;
					.icon-btn {
						color: $white;
						cursor: pointer;
						background-color: $gray4;
						border: 0;
						border-radius: 50%;
						font-size: 14px;
						height: 33px;
						margin-right: 2px;
						width: 33px;
						&:hover {
							background-color: $gold;
						}
					}
					.dots {
						font-size: 5px;
						line-height: 5px;
						i {
							margin-right: 2px;
							&:last-of-type {
								margin-right: 0;
							}
						}
					}
				}
			}
		}
		.pagination {
			margin: 53px auto 43px;
		}
	}
}
