@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

$white: #fff;
$black: #000;
$gold: #b88b58;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  // border: 1px solid red;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

// NAV

nav {
  background: $black;
  height: 100px;
  width: 100%;
  text-align: right;
  position: fixed;
  top: 0;
  img {
    display: inline-block;
    position: relative;
    top: 20px;
    right: 80px;
  }
  a {
    color: $white;
    font-weight: bold;
    font-size: 14px;
    line-height: 100px;
    padding-bottom: 36.5px;
    margin-left: 23px;
    &:last-of-type {
      margin-right: 30px;
    }
    &:hover {
    border-bottom: 5px solid $gold;
    }
  }
}

// HOME

#home {
  background: url('img/home.jpg') no-repeat center / cover;
  height: 100vh;
  padding-top: 100px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  h1 {
    font-size: 72px;
    line-height: 69px;
    font-weight: bold;
    margin-top: 20vh;
    span {
      color: $gold;
    }
  }
  h2 {
    font-size: 24px;
    line-height: 18px;
    font-weight: semibold;
    margin-top: 29px;
  }
  button {
    margin-top: 49px;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    height: 45px;
    width: 194px;
    background: $gold;
    border-radius: 20px;
    &:active {
      background: $black;
    }
    a {
      color: $white;
    }
  }
  .pagination {
    display: inline-block;
    border: 1px solid $gold;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    margin: 20vh 5px 0;
    &:first-of-type {
      background: $gold;
    }
    &:hover {
      background: $gold;
      cursor: pointer;
    }
  }
  div {
    position: relative;
  }
  img {
    position: absolute;
    right: 85px;
    bottom: -80px;
  }
}

// ABOUT US

#about {
  height: 532px;
}
