@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700");
[class*="col-"] {
  float: left;
  min-height: 1px;
  display: inline-block; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-offset-0 {
  margin-left: 0; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; }

.container {
  width: 1170px;
  margin: 0 auto; }

button {
  margin-top: 49px;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  height: 45px;
  width: 194px;
  background: #b88b58;
  border-radius: 20px; }
  button:active {
    background: #000; }
  button a {
    color: #fff; }

nav {
  background: #000;
  height: 100px;
  width: 100%;
  text-align: right;
  position: fixed;
  top: 0; }
  nav img {
    display: inline-block;
    position: relative;
    top: 20px;
    right: 80px; }
  nav a {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 100px;
    padding-bottom: 36.5px;
    margin-left: 23px; }
    nav a:last-of-type {
      margin-right: 30px; }
    nav a:hover {
      border-bottom: 5px solid #b88b58; }

#home {
  background: url("img/home.jpg") no-repeat center/cover;
  height: 100vh;
  padding-top: 100px;
  text-transform: uppercase;
  text-align: center;
  color: #fff; }
  #home h1 {
    font-size: 72px;
    line-height: 69px;
    font-weight: bold;
    margin-top: 20vh; }
    #home h1 span {
      color: #b88b58; }
  #home h2 {
    font-size: 24px;
    line-height: 18px;
    font-weight: semibold;
    margin-top: 29px; }
  #home .pagination {
    display: inline-block;
    border: 1px solid #b88b58;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    margin: 20vh 5px 0; }
    #home .pagination:first-of-type {
      background: #b88b58; }
    #home .pagination:hover {
      background: #b88b58;
      cursor: pointer; }
  #home div {
    position: relative; }
  #home img {
    position: absolute;
    right: 85px;
    bottom: -80px; }

#about {
  height: 532px;
  background: #f7f7f7;
  padding-top: 63px;
  color: #000; }
  #about h2 {
    font-size: 30px;
    font-weight: semibold;
    text-align: center; }
  #about h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
    color: #aeaeae;
    margin-bottom: 55px; }
  #about p {
    font-size: 14px;
    line-height: 25px;
    font-weight: light;
    margin: 0 30px 37px; }
  #about button {
    margin: 0 30px 0; }
  #about img {
    -webkit-box-shadow: -1px 12px 56px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 12px 56px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 12px 56px -10px rgba(0, 0, 0, 0.75); }

/*# sourceMappingURL=style.css.map */
