$white: #fff;
$mild: #f7f7f7;
$black: #000;
$black2: #242424;
$black3: #373737;
$gold: #b88b58;
$gray: #aeaeae;
$gray2: #ededed;
$gray3: #cfcfcf;
$gray4: #bebebe;
$gray5: #7e7e7e;
$gray6: #5b5b5b;
$gray7: #9e9e9e;

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
	float: left;
	min-height: 1px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media (max-width: 1400px) {
	.col-l-12 {width: 100%;}
}

@media (max-width: 1200px) {
	.col-m-0 {width: 0%;}
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}

@media (max-width: 768px) {
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}

*, *:after, *:before {
	box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
	// border: 1px solid red;
}

body {
  opacity: 1;
	transition: .8s opacity;
}

#wrap {
	overflow: hidden;
}

body.fade-out {
  opacity: 0;
	background: $white;
	transition: none;
}

.container {
  width: 1170px;
	margin: 0 auto;
	@media (max-width: 1200px) {
		width: 100%;
	}
}

.btn-gold {
  margin-top: 49px;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  height: 45px;
  width: 194px;
  background: $gold;
	border-radius: 20px;
	@media (max-width: 600px) {
		height: 30px;
		width: 130px;
	}
  &:active {
    background: $black;
  }
  a {
    color: $white;
  }
}

.icon-btn {
	color: $white;
	cursor: pointer;
	background-color: $gray4;
	border: 0;
	border-radius: 50%;
	font-size: 14px;
	height: 33px;
	margin-right: 2px;
	width: 33px;
	display: inline-block;
	line-height: 33px;
	&:hover {
		background-color: $gold;
	}
}

h2 {
  padding-top: 62px;
  font-size: 30px;
  font-weight: semibold;
  text-align: center;
}
h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  color: $gray;
  margin-bottom: 55px;
}

.invisible {
	display: none;
}

.visible {
	display: inline-block;
}