#contact {
	height: 600px;
	background: $mild;
	text-align: center;
	border-top: 1px solid $gray3;
	@media (max-width: 650px) {
		height: 100%;
	}
	h3 {
		margin-bottom: 83px;
	}
	form {
		margin: 0 auto;
		width: 535px;
		text-align: left;
		input {
			background: inherit;
			border-bottom: 2px solid $gray;
			font-size: 13px;
			line-height: 25px;
			margin-bottom: 40px;
			padding-bottom: 7px;
			color: $black;
			&:last-of-type {
				margin-top: 40px;
				margin-bottom: 5px;
			}
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $gray7;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: $gray7;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: $gray7;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: $gray7;
			}
		}
		#name {
		margin-right: 30px;
		}
	}
}