@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700");
[class*="col-"] {
  float: left;
  min-height: 1px; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-offset-0 {
  margin-left: 0; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

@media (max-width: 1200px) {
  .col-m-0 {
    width: 0%; }

  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; }

  .col-offset-m-4 {
    margin-left: 33.33%; } }
@media (max-width: 768px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; } }
*, *:after, *:before {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; }

body {
  opacity: 1;
  transition: .8s opacity; }

body.fade-out {
  opacity: 0;
  background: #fff;
  transition: none; }

.container {
  width: 1170px;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .container {
      width: 100%; } }

.btn-gold {
  margin-top: 49px;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  height: 45px;
  width: 194px;
  background: #b88b58;
  border-radius: 20px; }
  @media (max-width: 600px) {
    .btn-gold {
      height: 30px;
      width: 130px; } }
  .btn-gold:active {
    background: #000; }
  .btn-gold a {
    color: #fff; }

.icon-btn {
  color: #fff;
  cursor: pointer;
  background-color: #bebebe;
  border: 0;
  border-radius: 50%;
  font-size: 14px;
  height: 33px;
  margin-right: 2px;
  width: 33px;
  display: inline-block;
  line-height: 33px; }
  .icon-btn:hover {
    background-color: #b88b58; }

h2 {
  padding-top: 62px;
  font-size: 30px;
  font-weight: semibold;
  text-align: center; }

h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  color: #aeaeae;
  margin-bottom: 55px; }

.invisible {
  display: none; }

nav {
  background: #000;
  height: 100px;
  width: 100vw;
  text-align: right;
  position: fixed;
  z-index: 10;
  top: 0; }
  @media (max-width: 1200px) {
    nav {
      height: 50px; } }
  @media (max-width: 1200px) {
    nav .container ul {
      width: 30%;
      right: 0;
      position: fixed;
      display: none; } }
  @media (max-width: 768px) {
    nav .container ul {
      width: 100%;
      position: static; } }
  nav .container ul li {
    display: inline-block; }
    nav .container ul li:last-of-type {
      margin-right: 30px; }
      @media (max-width: 1200px) {
        nav .container ul li:last-of-type {
          height: 60px; } }
    @media (max-width: 1200px) {
      nav .container ul li:first-of-type {
        height: 70px;
        position: static; } }
    @media (max-width: 1200px) {
      nav .container ul li {
        width: 100%;
        background: #000;
        height: 50px;
        text-align: center;
        display: block; } }
    nav .container ul li img {
      display: inline-block;
      position: relative;
      top: 20px;
      right: 80px; }
      @media (max-width: 1200px) {
        nav .container ul li img {
          top: 0;
          right: -2px; } }
    nav .container ul li a {
      color: #fff;
      font-weight: bold;
      font-size: 14px;
      line-height: 100px;
      padding-bottom: 36.5px;
      margin-left: 23px;
      position: relative; }
      @media (max-width: 1200px) {
        nav .container ul li a {
          width: 100%;
          padding-bottom: 10px;
          text-align: center;
          line-height: 50px;
          margin-left: 0; } }
      nav .container ul li a:hover::before {
        visibility: visible;
        transform: scaleX(1); }
      nav .container ul li a::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        left: 0;
        bottom: -5px;
        background-color: #b88b58;
        visibility: hidden;
        transform: scaleX(0);
        transition: 0.3s ease-in-out 0s; }
  nav .container #menu-button {
    font-size: 35px;
    cursor: pointer;
    color: #fff;
    display: none;
    text-align: right;
    padding-right: 20px; }
    nav .container #menu-button:hover {
      color: #b88b58; }
    @media (max-width: 1200px) {
      nav .container #menu-button {
        display: inline-block; } }

#home {
  background: url("../img/home.jpg") no-repeat center/cover;
  height: 100vh;
  padding-top: 100px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: relative; }
  #home h1 {
    font-size: 72px;
    line-height: 69px;
    font-weight: bold;
    margin-top: 20vh;
    width: 100vw; }
    @media (min-width: 1800px) {
      #home h1 {
        margin-top: 30vh; } }
    @media (max-width: 850px) {
      #home h1 {
        font-size: 3em;
        line-height: 1.1em; } }
    @media (max-width: 600px) {
      #home h1 {
        font-size: 2em;
        line-height: 1em; } }
    @media (max-width: 350px) {
      #home h1 {
        font-size: 1.5em;
        line-height: 1.2em; } }
    #home h1 span {
      color: #b88b58; }
  #home h2 {
    font-size: 24px;
    line-height: 18px;
    font-weight: semibold;
    margin-top: 29px;
    padding-top: 0; }
    @media (max-width: 850px) {
      #home h2 {
        font-size: 1.3em; } }
    @media (max-width: 600px) {
      #home h2 {
        font-size: 1em; } }
  #home img {
    position: absolute;
    right: 85px;
    bottom: -41px;
    cursor: pointer; }

#about {
  height: 532px;
  background: #f7f7f7;
  color: #000; }
  @media (max-width: 1200px) {
    #about {
      height: 100%; } }
  @media (max-width: 1200px) {
    #about .container .row {
      margin: 0 100px 0; } }
  @media (max-width: 650px) {
    #about .container .row {
      margin: 0 50px 0; } }
  #about .container .row p {
    font-size: 14px;
    line-height: 25px;
    font-weight: light;
    margin: 0 30px 37px; }
    @media (max-width: 1200px) {
      #about .container .row p {
        text-align: center; } }
    @media (max-width: 650px) {
      #about .container .row p {
        margin: 0 10px 37px; } }
  #about .container .row button {
    margin: 0 30px 0; }
    @media (max-width: 1200px) {
      #about .container .row button {
        display: block;
        margin: 0 auto; } }
  #about .container .row img {
    -webkit-box-shadow: -1px 12px 56px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 12px 56px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 12px 56px -10px rgba(0, 0, 0, 0.75);
    cursor: pointer; }
    @media (max-width: 1200px) {
      #about .container .row img {
        margin: 50px auto;
        display: block; } }
    @media (max-width: 650px) {
      #about .container .row img {
        height: 200px; } }
    @media (max-width: 450px) {
      #about .container .row img {
        height: 140px; } }

#services {
  height: 420px;
  background: #000;
  color: #fff;
  text-align: center; }
  @media (max-width: 1200px) {
    #services {
      height: 100%; } }
  @media (max-width: 1200px) {
    #services .container {
      margin: 0; } }
  #services .container h3 {
    margin-bottom: 45px; }
  #services .container .col-3 {
    border-left: 2px solid #383838;
    border-right: 2px solid #383838; }
    @media (max-width: 1200px) {
      #services .container .col-3 {
        border: none;
        margin-bottom: 50px; } }
    #services .container .col-3:nth-of-type(2) {
      border: none; }
    #services .container .col-3:nth-of-type(3) {
      border-right: none; }
    #services .container .col-3 img {
      margin: 10px 0 25px; }
    #services .container .col-3 h4 {
      text-transform: uppercase;
      font-size: 18px;
      line-height: 24px;
      padding: 0 60px 0; }
    #services .container .col-3 p {
      color: #aeaeae;
      font-size: 12px;
      line-height: 21px;
      padding: 5px 20px 10px; }

#projects {
  height: 970px;
  text-align: center;
  background: #f7f7f7; }
  @media (max-width: 1200px) {
    #projects {
      height: 100%; } }
  #projects .menu {
    background: #ededed;
    height: 58px;
    border-radius: 30px;
    border: 1px solid #cfcfcf;
    margin: 0 auto 38px;
    padding: 0 33px;
    display: table; }
    @media (max-width: 800px) {
      #projects .menu {
        width: 350px;
        height: 96px;
        padding: 0 10px; } }
    @media (max-width: 395px) {
      #projects .menu {
        width: 250px;
        height: 134px; } }
    #projects .menu span {
      margin-top: 4px;
      float: left;
      font-size: 14px;
      padding: 0 21px;
      line-height: 48px;
      margin-bottom: -5px;
      border-right: 1px solid #cfcfcf;
      cursor: pointer; }
      #projects .menu span:last-of-type {
        border-right: none; }
      #projects .menu span:hover {
        border-bottom: 5px solid #b88b58; }
      @media (max-width: 800px) {
        #projects .menu span:first-of-type {
          margin-left: 37px; } }
      @media (max-width: 395px) {
        #projects .menu span:first-of-type {
          margin-left: 50px; } }
      @media (max-width: 395px) {
        #projects .menu span:nth-of-type(3) {
          margin-left: 19px; } }
      @media (max-width: 800px) {
        #projects .menu span:nth-of-type(4) {
          margin-left: 13px;
          margin-top: 4px; } }
      @media (max-width: 395px) {
        #projects .menu span:nth-of-type(4) {
          margin-left: 5px;
          margin-top: 0; } }
      @media (max-width: 395px) {
        #projects .menu span:nth-of-type(5) {
          margin-left: 19px; } }
      @media (max-width: 800px) {
        #projects .menu span:nth-of-type(5), #projects .menu span:nth-of-type(6) {
          margin-top: 4px; } }
      @media (max-width: 395px) {
        #projects .menu span:nth-of-type(5), #projects .menu span:nth-of-type(6) {
          margin-top: 0; } }
      @media (max-width: 800px) {
        #projects .menu span {
          height: 48px;
          padding: 0 15px;
          margin-top: 0;
          border-right: none; } }
      @media (max-width: 395px) {
        #projects .menu span {
          padding: 0 10px; } }
  @media (max-width: 1200px) {
    #projects .row {
      margin: 0 100px 0; } }
  @media (max-width: 850px) {
    #projects .row {
      margin: 0 50px 0; } }
  @media (max-width: 500px) {
    #projects .row {
      margin: 0 10px 0; } }
  #projects .row .col-3 {
    position: relative;
    cursor: pointer; }
    @media (max-width: 1200px) {
      #projects .row .col-3 {
        padding: 0 15px 30px; } }
    #projects .row .col-3:hover [class*="projects-photo-"] {
      filter: brightness(0.3); }
    #projects .row .col-3:hover .layer {
      opacity: 1; }
    #projects .row .col-3 [class*="projects-photo-"] {
      margin-bottom: 30px;
      height: 165px;
      width: 255px;
      display: inline-block; }
      @media (max-width: 1200px) {
        #projects .row .col-3 [class*="projects-photo-"] {
          width: 100%;
          height: 300px;
          margin-bottom: 0; } }
      @media (max-width: 850px) {
        #projects .row .col-3 [class*="projects-photo-"] {
          height: 200px; } }
      @media (max-width: 768px) {
        #projects .row .col-3 [class*="projects-photo-"] {
          height: 300px; } }
    #projects .row .col-3 .projects-photo-1 {
      background: url(https://images.pexels.com/photos/428336/pexels-photo-428336.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=427&w=640) no-repeat center/cover; }
    #projects .row .col-3 .projects-photo-2 {
      background: url(https://images.pexels.com/photos/6440/magazines-desk-work-workspace.jpg?auto=compress&cs=tinysrgb&h=426&w=640) no-repeat center/cover; }
    #projects .row .col-3 .projects-photo-3 {
      background: url(https://images.pexels.com/photos/375880/pexels-photo-375880.jpeg?auto=compress&cs=tinysrgb&h=438&w=640) no-repeat center/cover; }
    #projects .row .col-3 .projects-photo-4 {
      background: url(https://images.pexels.com/photos/377911/pexels-photo-377911.jpeg?auto=compress&cs=tinysrgb&h=472&w=640) no-repeat center/cover; }
    #projects .row .col-3 .projects-photo-5 {
      background: url(https://images.pexels.com/photos/450278/pexels-photo-450278.jpeg?auto=compress&cs=tinysrgb&h=427&w=640) no-repeat center/cover; }
    #projects .row .col-3 .projects-photo-6 {
      background: url(https://images.pexels.com/photos/6664/magazines-stack-reading-magazine.jpg?auto=compress&cs=tinysrgb&h=426&w=640) no-repeat center/cover; }
    #projects .row .col-3 .projects-photo-7 {
      background: url(https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?auto=compress&cs=tinysrgb&h=426&w=640) no-repeat center/cover; }
    #projects .row .col-3 .projects-photo-8 {
      background: url(https://images.pexels.com/photos/428338/pexels-photo-428338.jpeg?auto=compress&cs=tinysrgb&h=427&w=640) no-repeat center/cover; }
    #projects .row .col-3 .projects-photo-9 {
      background: url(https://images.pexels.com/photos/546162/pexels-photo-546162.jpeg?auto=compress&cs=tinysrgb&h=429&w=640) no-repeat center/cover; }
    #projects .row .col-3 .projects-photo-10 {
      background: url(https://images.pexels.com/photos/697055/pexels-photo-697055.jpeg?auto=compress&cs=tinysrgb&h=459&w=640) no-repeat center/cover; }
    #projects .row .col-3 .projects-photo-11 {
      background: url(https://images.pexels.com/photos/860379/pexels-photo-860379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=412&w=640) no-repeat center/cover; }
    #projects .row .col-3 .projects-photo-12 {
      background: url(https://images.pexels.com/photos/6348/reading-magazine-open-newspaper.jpg?auto=compress&cs=tinysrgb&h=426&w=640) no-repeat center/cover; }
    #projects .row .col-3 .layer {
      opacity: 0; }
      #projects .row .col-3 .layer span {
        font-size: 18px;
        line-height: 18px;
        color: #fff;
        position: absolute;
        top: 45px;
        left: 0;
        right: 0; }
        @media (max-width: 1200px) {
          #projects .row .col-3 .layer span {
            top: 135px; } }
        @media (max-width: 850px) {
          #projects .row .col-3 .layer span {
            top: 75px; } }
        @media (max-width: 768px) {
          #projects .row .col-3 .layer span {
            top: 125px; } }
      #projects .row .col-3 .layer p {
        font-size: 12px;
        line-height: 21px;
        color: #fff;
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;
        padding: 0 55px;
        font-weight: light; }
        @media (max-width: 1200px) {
          #projects .row .col-3 .layer p {
            top: 165px; } }
        @media (max-width: 850px) {
          #projects .row .col-3 .layer p {
            top: 95px; } }
        @media (max-width: 768px) {
          #projects .row .col-3 .layer p {
            top: 155px; } }
  #projects button {
    margin-top: 0; }
    @media (max-width: 1200px) {
      #projects button {
        margin-bottom: 50px; } }

#team {
  height: 710px;
  text-align: center;
  background: url("../img/team_background.jpg") no-repeat center/cover; }
  @media (max-width: 1200px) {
    #team {
      height: 100%;
      background: #000; } }
  @media (max-width: 1350px) {
    #team .container .car-to-hide {
      display: none; } }
  #team .container h2 {
    color: #fff; }
  #team .container h3 {
    margin-bottom: 43px; }
  #team .container .col-4 {
    text-align: center; }
    @media (max-width: 1200px) {
      #team .container .col-4 {
        margin-bottom: 50px; } }
    #team .container .col-4 .layer {
      width: 350px;
      height: 432px;
      background: #fff;
      margin: 0 auto; }
      @media (max-width: 420px) {
        #team .container .col-4 .layer {
          width: 280px; } }
      #team .container .col-4 .layer img {
        margin-top: 48px;
        margin-bottom: 38px; }
      #team .container .col-4 .layer h4 {
        font-size: 21px;
        line-height: 21px;
        font-weight: 600;
        margin-bottom: 4px; }
      #team .container .col-4 .layer span {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300; }
      #team .container .col-4 .layer .social {
        margin-top: 36px;
        height: 33px; }
        @media (max-width: 420px) {
          #team .container .col-4 .layer .social a:nth-of-type(6) {
            display: none; } }
        #team .container .col-4 .layer .social .fa-circle {
          font-size: 5px !important;
          margin-right: 2px;
          margin-bottom: 2px; }
          #team .container .col-4 .layer .social .fa-circle:last-of-type {
            margin-right: 0; }

#clients {
  height: 682px;
  background: #f7f7f7;
  text-align: center; }
  @media (max-width: 1250px) {
    #clients {
      height: 100%; } }
  @media (max-width: 1250px) {
    #clients .container .car-to-hide {
      display: none; } }
  #clients .container h3 {
    margin-bottom: 78px; }
  #clients .container h4 {
    margin-top: 30px;
    font-size: 24px;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 12px; }
  #clients .container span {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500; }
  #clients .container .cite {
    display: block;
    margin: 35px auto 18px; }
  #clients .container p {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    color: #7e7e7e;
    padding-left: 220px;
    padding-right: 220px;
    padding-bottom: 44px; }
    @media (max-width: 930px) {
      #clients .container p {
        padding-left: 100px;
        padding-right: 100px; } }
    @media (max-width: 500px) {
      #clients .container p {
        padding-left: 50px;
        padding-right: 50px; } }

#client-logos {
  height: 156px;
  background: #fff;
  text-align: center;
  border-top: 1px solid #cfcfcf; }
  @media (max-width: 1200px) {
    #client-logos {
      height: 100%; } }
  #client-logos img {
    display: block;
    margin: 43px auto 50px; }

#prices {
  height: 580px;
  background: #ededed;
  text-align: center;
  border-bottom: 1px solid #bebebe; }
  @media (max-width: 1200px) {
    #prices {
      height: 100%; } }
  #prices::before {
    content: "";
    display: block;
    height: 5px;
    background: transparent;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    /* IE6-9 */ }
  #prices h2 {
    padding-top: 55px; }
  #prices h3 {
    margin-bottom: 50px; }
  #prices .row .col-3 {
    height: 432px; }
    @media (max-width: 1200px) {
      #prices .row .col-3 {
        height: 350px;
        margin-bottom: 30px; } }
    #prices .row .col-3 .layer {
      margin: 0 auto;
      width: 255px;
      height: 343px;
      background: #fff; }
      @media (max-width: 350px) {
        #prices .row .col-3 .layer {
          width: 200px; } }
      #prices .row .col-3 .layer h4 {
        font-size: 14px;
        padding-top: 31px;
        color: #242424; }
      #prices .row .col-3 .layer h5 {
        font-size: 30px;
        font-weight: bold;
        padding-top: 10px;
        color: #242424; }
      #prices .row .col-3 .layer h6 {
        font-size: 10px;
        letter-spacing: 1px;
        padding-top: 4px;
        padding-bottom: 23px;
        color: #aeaeae; }
      #prices .row .col-3 .layer p {
        font-size: 10px;
        line-height: 13px;
        color: #7e7e7e; }
      #prices .row .col-3 .layer .btn-gold {
        width: 129px;
        margin-top: 20px;
        background: #373737; }
        #prices .row .col-3 .layer .btn-gold:hover {
          background: #b88b58;
          cursor: pointer; }

#premium {
  height: 756px;
  background: #fff;
  text-align: center; }
  @media (max-width: 1200px) {
    #premium {
      height: 100%; } }
  @media (max-width: 1450px) {
    #premium .container .car-to-hide {
      display: none; } }
  @media (max-width: 1100px) {
    #premium .container img {
      width: 300px;
      padding: 10px; } }
  #premium .container ul {
    list-style-type: none;
    text-align: left;
    padding-left: 80px;
    padding-right: 100px;
    margin-top: 20px; }
    @media (max-width: 480px) {
      #premium .container ul {
        padding-right: 40px; } }
    #premium .container ul li {
      position: relative; }
      #premium .container ul li h4 {
        font-size: 21px;
        font-weight: bold;
        line-height: 21px;
        color: #242424;
        padding-left: 30px;
        padding-bottom: 3px; }
        @media (max-width: 480px) {
          #premium .container ul li h4 {
            font-size: 16px; } }
      #premium .container ul li p {
        font-size: 14px;
        line-height: 25px;
        color: #5b5b5b;
        padding-left: 30px; }
        #premium .container ul li p:last-of-type {
          padding-bottom: 20px; }
        @media (max-width: 480px) {
          #premium .container ul li p {
            font-size: 12px; } }
    #premium .container ul li::before {
      content: url("../img/bird.jpg");
      position: absolute;
      left: -30px;
      top: -5px; }
  #premium .container .line {
    border-top: 1px solid #bebebe;
    margin-bottom: 37px;
    margin-top: 30px; }
    @media (max-width: 1450px) {
      #premium .container .line {
        display: none; } }
  #premium .container .btn-gold {
    margin-top: 50px;
    margin-bottom: 60px; }
    @media (max-width: 700px) {
      #premium .container .btn-gold {
        margin-top: 20px; } }

#facts {
  height: 412px;
  background: #000;
  color: #fff;
  text-align: center; }
  @media (max-width: 1200px) {
    #facts {
      height: 100%; } }
  #facts .col-3 {
    padding: 0 45px 0; }
    #facts .col-3 h3 {
      margin-bottom: 45px; }
    #facts .col-3 h4 {
      text-transform: uppercase;
      font-size: 48px;
      line-height: 28px;
      color: #b88b58;
      margin-bottom: 7px; }
    #facts .col-3 span {
      display: inline-block;
      width: 19px;
      border-bottom: 3px solid #7e7e7e; }
    #facts .col-3 h5 {
      margin-top: 5px;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 24px;
      color: #fff;
      font-weight: 600; }
    #facts .col-3 p {
      color: #aeaeae;
      font-size: 12px;
      line-height: 21px;
      padding: 0 10px 0;
      font-weight: 300;
      margin-top: 10px; }
      @media (max-width: 1200px) {
        #facts .col-3 p {
          margin-bottom: 50px; } }

#tell {
  height: 75px;
  text-align: center;
  line-height: 75px; }
  #tell .fa-share-alt {
    color: #aeaeae;
    margin-right: 16px; }
  #tell span {
    color: #aeaeae;
    font-size: 10px;
    font-weight: bold;
    margin-right: 37px; }
    @media (max-width: 768px) {
      #tell span {
        display: none; } }
    #tell span:first-of-type {
      font-size: 14px;
      margin-right: 62px; }
      @media (max-width: 768px) {
        #tell span:first-of-type {
          display: inline;
          margin-right: 30px; } }
      @media (max-width: 480px) {
        #tell span:first-of-type {
          display: none; } }
  #tell .icon-btn {
    margin-right: 2px; }
    @media (max-width: 768px) {
      #tell .icon-btn {
        margin-right: 10px; } }
    #tell .icon-btn:hover {
      background-color: #000; }
  #tell .twitter {
    background: #34c5f0; }
  #tell .linkedin {
    background: #127cb4; }
  #tell .facebook {
    background: #336297; }
  #tell .google {
    background: #e74237; }
  #tell .pinterest {
    background: #b71c29; }

#contact {
  height: 600px;
  background: #f7f7f7;
  text-align: center;
  border-top: 1px solid #cfcfcf; }
  @media (max-width: 650px) {
    #contact {
      height: 100%; } }
  #contact h3 {
    margin-bottom: 83px; }
  #contact form {
    margin: 0 auto;
    width: 535px;
    text-align: left; }
    #contact form input {
      background: inherit;
      border-bottom: 2px solid #aeaeae;
      font-size: 13px;
      line-height: 25px;
      margin-bottom: 40px;
      padding-bottom: 7px;
      color: #000; }
      #contact form input:last-of-type {
        margin-top: 40px;
        margin-bottom: 5px; }
      #contact form input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #9e9e9e; }
      #contact form input::-moz-placeholder {
        /* Firefox 19+ */
        color: #9e9e9e; }
      #contact form input:-ms-input-placeholder {
        /* IE 10+ */
        color: #9e9e9e; }
      #contact form input:-moz-placeholder {
        /* Firefox 18- */
        color: #9e9e9e; }
    #contact form #name {
      margin-right: 30px; }

#map {
  height: 417px;
  background: url("../img/map.jpg") no-repeat center/cover; }
  #map .layer {
    background: #fff;
    height: 343px;
    margin-top: 36px;
    font-size: 12px;
    line-height: 30px; }
    #map .layer li {
      width: 581px;
      padding-left: 40px;
      margin-bottom: 14px;
      list-style-type: none; }
      #map .layer li:first-of-type {
        padding-top: 61px; }
      #map .layer li .icon-btn {
        margin-right: 20px;
        background: #aeaeae;
        cursor: default;
        font-size: 18px;
        padding-top: 1px; }
        #map .layer li .icon-btn:hover {
          background: #aeaeae; }
    #map .layer span {
      line-height: 12px;
      font-weight: 500;
      color: #7e7e7e;
      margin-bottom: 14px; }
  #map div {
    position: relative; }
    #map div img {
      z-index: 5;
      position: absolute;
      left: 48px;
      bottom: -78px;
      cursor: pointer; }

footer {
  height: 262px;
  background-color: #000;
  border-top: 1px solid #cfcfcf;
  position: relative; }
  @media (max-width: 1200px) {
    footer {
      height: 100%; } }
  @media (max-width: 1450px) {
    footer .row {
      padding-top: 20px; } }
  footer .row .col-4 {
    margin-top: 31px; }
    footer .row .col-4 p {
      font-size: 12px;
      line-height: 21px;
      color: #7e7e7e; }
    footer .row .col-4 span {
      color: #fff;
      font-size: 14px;
      position: absolute;
      bottom: 49px; }
    footer .row .col-4 .icon-btn {
      background-color: #373737;
      text-align: center; }
      footer .row .col-4 .icon-btn:hover {
        background-color: #b88b58; }
      footer .row .col-4 .icon-btn .fa-circle {
        font-size: 5px !important;
        margin-right: 2px;
        margin-bottom: 2px; }
        footer .row .col-4 .icon-btn .fa-circle:last-of-type {
          margin-right: 0; }
    footer .row .col-4 .layer {
      background-color: #373737;
      height: 198px;
      margin-left: 13px;
      padding-top: 51px; }
      footer .row .col-4 .layer form {
        margin: 0 auto; }
        footer .row .col-4 .layer form .email-sub {
          margin-left: 78.5px;
          text-align: center;
          background: inherit;
          border-bottom: 2px solid #aeaeae;
          font-size: 13px;
          line-height: 25px;
          padding-bottom: 7px;
          color: #fff;
          display: block;
          width: 220px; }
          footer .row .col-4 .layer form .email-sub::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #9e9e9e; }
          footer .row .col-4 .layer form .email-sub::-moz-placeholder {
            /* Firefox 19+ */
            color: #9e9e9e; }
          footer .row .col-4 .layer form .email-sub:-ms-input-placeholder {
            /* IE 10+ */
            color: #9e9e9e; }
          footer .row .col-4 .layer form .email-sub:-moz-placeholder {
            /* Firefox 18- */
            color: #9e9e9e; }
        footer .row .col-4 .layer form .btn-gold {
          margin-left: 93px;
          margin-top: 28px;
          cursor: pointer;
          color: #fff; }

/*# sourceMappingURL=style.css.map */
