@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

$white: #fff;
$mild: #f7f7f7;
$black: #000;
$black2: #242424;
$black3: #373737;
$gold: #b88b58;
$gray: #aeaeae;
$gray2: #ededed;
$gray3: #cfcfcf;
$gray4: #bebebe;
$gray5: #7e7e7e;
$gray6: #5b5b5b;
$gray7: #9e9e9e;

[class*="col-"] {
	float: left;
	min-height: 1px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-0 {margin-left: 0;}
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}

@media (max-width: 1200px) {
	.col-m-0 {width: 0%;}
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
	.col-offset-m-4 {margin-left: 33.33%;}
}

@media (max-width: 768px) {
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}

*, *:after, *:before {
	box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
	// border: 1px solid red;
}

body {
  opacity: 1;
	transition: .8s opacity;
}

body.fade-out {
  opacity: 0;
	background: $white;
	transition: none;
}

.container {
  width: 1170px;
	margin: 0 auto;
	@media (max-width: 1200px) {
		width: 100%;
	}
}

.btn-gold {
  margin-top: 49px;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  height: 45px;
  width: 194px;
  background: $gold;
	border-radius: 20px;
	@media (max-width: 600px) {
		height: 30px;
		width: 130px;
	}
  &:active {
    background: $black;
  }
  a {
    color: $white;
  }
}

.icon-btn {
	color: $white;
	cursor: pointer;
	background-color: $gray4;
	border: 0;
	border-radius: 50%;
	font-size: 14px;
	height: 33px;
	margin-right: 2px;
	width: 33px;
	display: inline-block;
	line-height: 33px;
	&:hover {
		background-color: $gold;
	}
}

h2 {
  padding-top: 62px;
  font-size: 30px;
  font-weight: semibold;
  text-align: center;
}
h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  color: $gray;
  margin-bottom: 55px;
}

.invisible {
	display: none;
}

nav {
  background: $black;
  height: 100px;
  width: 100vw;
  text-align: right;
  position: fixed;
	z-index: 10;
	top: 0;
	@media (max-width: 1200px) {
		height: 50px;
	}
	.container {
		ul {
			@media (max-width: 1200px) {
				width: 30%;
				right: 0;
				position: fixed;
				display: none;
			}
			@media (max-width: 768px) {
				width: 100%;
				position: static;
			}
			li {
				display: inline-block;
				&:last-of-type {
					margin-right: 30px;
					@media (max-width: 1200px) {
						height: 60px;
					}
				}
				&:first-of-type {
					@media (max-width: 1200px) {
						height: 70px;
						position: static;
					}
				}
				@media (max-width: 1200px) {
					width: 100%;
					background: $black;
					height: 50px;
					text-align: center;
					display: block;
				}
				img {
					display: inline-block;
					position: relative;
					top: 20px;
					right: 80px;
					@media (max-width: 1200px) {
						top: 0;
						right: -2px;
					}
				}
				a {
					color: $white;
					font-weight: bold;
					font-size: 14px;
					line-height: 100px;
					padding-bottom: 36.5px;
					margin-left: 23px;
					position: relative;
					@media (max-width: 1200px) {
						width: 100%;
						padding-bottom: 10px;
						text-align: center;
						line-height: 50px;
						margin-left: 0;
					}
					&:hover::before {
						visibility: visible;
						transform: scaleX(1);
					}
					&::before {
						content: "";
						position: absolute;
						width: 100%;
						height: 5px;
						left: 0;
						bottom: -5px;
						background-color: $gold;
						visibility: hidden;
						transform: scaleX(0);
						transition: 0.3s ease-in-out 0s;
					}
				}
			}
		}
		#menu-button {
			font-size: 35px;
			cursor: pointer;
			color: $white;
			display: none;
			text-align: right;
			padding-right: 20px;
			&:hover {
				color: $gold;
			}
			@media (max-width: 1200px) {
				display: inline-block;
			}
		}
	}
}



#home {
  background: url('../img/home.jpg') no-repeat center / cover;
  height: 100vh;
  padding-top: 100px;
  text-transform: uppercase;
  text-align: center;
	color: $white;
	position: relative;
  h1 {
    font-size: 72px;
    line-height: 69px;
    font-weight: bold;
		margin-top: 20vh;
		width: 100vw;
		@media (min-width: 1800px) {
			margin-top: 30vh;
		}
		@media (max-width: 850px) {
			font-size: 3em;
			line-height: 1.1em;
		}
		@media (max-width: 600px) {
			font-size: 2em;
			line-height: 1em;
		}
		@media (max-width: 350px) {
			font-size: 1.5em;
			line-height: 1.2em;
		}
    span {
      color: $gold;
    }
  }
  h2 {
    font-size: 24px;
    line-height: 18px;
    font-weight: semibold;
    margin-top: 29px;
		padding-top: 0;
		@media (max-width: 850px) {
			font-size: 1.3em;
		}
		@media (max-width: 600px) {
			font-size: 1em;
		}
  }
  img {
    position: absolute;
    right: 85px;
    bottom: -(82px / 2);
		cursor: pointer;
	}
	// .call-me-back {
	// 	display: hidden;
	// 	height: 332px;
	// 	width: 351px;
	// 	background: $white;
	// 	margin: 30vh auto;
	// }
}

#about {
  height: 532px;
  background: $mild;
	color: $black;
	@media (max-width: 1200px) {
		height: 100%;
	}
	.container {
		.row {
			@media (max-width: 1200px) {
				margin: 0 100px 0;
			}
			@media (max-width: 650px) {
				margin: 0 50px 0;
			}
			p {
				font-size: 14px;
				line-height: 25px;
				font-weight: light;
				margin: 0 30px 37px;
				@media (max-width: 1200px) {
					text-align: center;
				}
				@media (max-width: 650px) {
					margin: 0 10px 37px;
				}
			}
			button {
				margin: 0 30px 0;
				@media (max-width: 1200px) {
					display: block;
					margin: 0 auto;
				}
			}
			img {
				-webkit-box-shadow: -1px 12px 56px -10px rgba(0,0,0,0.75);
				-moz-box-shadow: -1px 12px 56px -10px rgba(0,0,0,0.75);
				box-shadow: -1px 12px 56px -10px rgba(0,0,0,0.75);
				cursor: pointer;
				@media (max-width: 1200px) {
					margin: 50px auto;
					display: block;
				}
				@media (max-width: 650px) {
					height: 200px;
				}
				@media (max-width: 450px) {
					height: 140px;
				}
			}
		}
	}
}

#services {
  height: 420px;
  background: $black;
  color: $white;
	text-align: center;
	@media (max-width: 1200px) {
		height: 100%;
	}
	.container {
		@media (max-width: 1200px) {
			margin: 0;
		}
		h3 {
			margin-bottom: 45px;
		}
		.col-3 {
			border-left: 2px solid #383838;
			border-right: 2px solid #383838;
			@media (max-width: 1200px) {
				border: none;
				margin-bottom: 50px;
			}
			&:nth-of-type(2) {
				border: none;
			}
			&:nth-of-type(3) {
				border-right: none;
			}
			img {
				margin: 10px 0 25px;
			}
			h4 {
				text-transform: uppercase;
				font-size: 18px;
				line-height: 24px;
				padding: 0 60px 0;
			}
			p {
				color: $gray;
				font-size: 12px;
				line-height: 21px;
				padding: 5px 20px 10px;
			}
		}
	}
}

#projects {
  height: 970px;
	text-align: center;
	background: $mild;
	@media (max-width: 1200px) {
		height: 100%;
	}
	.menu {
		background: $gray2;
		height: 58px;
		border-radius: 30px;
		border: 1px solid $gray3;
		margin: 0 auto 38px;
		padding: 0 33px;
		display: table;
		@media (max-width: 800px) {
			width: 350px;
			height: 48px * 2;
			padding: 0 10px;
		}
		@media (max-width: 395px) {
			width: 250px;
			height: 48px * 3 - 10px;
		}
		span {
			margin-top: 4px;
			float: left;
			font-size: 14px;
			padding: 0 21px;
			line-height: 48px;
			margin-bottom: -5px;
			border-right: 1px solid $gray3;
			cursor: pointer;
			&:last-of-type {
				border-right: none;
			}
			&:hover {
				border-bottom: 5px solid $gold;
			}
			&:first-of-type {
				@media (max-width: 800px) {
					margin-left: 37px;
				}
				@media (max-width: 395px) {
					margin-left: 50px;
				}
			}
			&:nth-of-type(3) {
				@media (max-width: 395px) {
					margin-left: 19px;
				}
			}
			&:nth-of-type(4) {
				@media (max-width: 800px) {
					margin-left: 13px;
					margin-top: 4px;
				}
				@media (max-width: 395px) {
					margin-left: 5px;
					margin-top: 0;
				}
			}
			&:nth-of-type(5) {
				@media (max-width: 395px) {
					margin-left: 19px;
				}
			}
			&:nth-of-type(5), &:nth-of-type(6) {
				@media (max-width: 800px) {
					margin-top: 4px;
				}
				@media (max-width: 395px) {
					margin-top: 0;
				}
			}
			@media (max-width: 800px) {
				height: 48px;
				padding: 0 15px;
				margin-top: 0;
				border-right: none;
			}
			@media (max-width: 395px) {
				padding: 0 10px;
			}
		}
	}
	.row {
		@media (max-width: 1200px) {
			margin: 0 100px 0;
		}
		@media (max-width: 850px) {
			margin: 0 50px 0;
		}
		@media (max-width: 500px) {
			margin: 0 10px 0;
		}
		.col-3 {
			@media (max-width: 1200px) {
				padding: 0 15px 30px;
			}
			position: relative;
			cursor: pointer;
			&:hover [class*="projects-photo-"] {
				filter: brightness(.3);
			}
			&:hover .layer {
				opacity: 1;
			}
			[class*="projects-photo-"] {
				margin-bottom: 30px;
				height: 165px;
				width: 255px;
				display: inline-block;
				@media (max-width: 1200px) {
					width: 100%;
					height: 300px;
					margin-bottom: 0;
				}
				@media (max-width: 850px) {
					height: 200px;
				}
				@media (max-width: 768px) {
					height: 300px;
				}
			}
			.projects-photo-1 {
				background: url(https://images.pexels.com/photos/428336/pexels-photo-428336.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=427&w=640) no-repeat center / cover;
			}
			.projects-photo-2 {
				background: url(https://images.pexels.com/photos/6440/magazines-desk-work-workspace.jpg?auto=compress&cs=tinysrgb&h=426&w=640) no-repeat center / cover;
			}
			.projects-photo-3 {
				background: url(https://images.pexels.com/photos/375880/pexels-photo-375880.jpeg?auto=compress&cs=tinysrgb&h=438&w=640) no-repeat center / cover;
			}
			.projects-photo-4 {
				background: url(https://images.pexels.com/photos/377911/pexels-photo-377911.jpeg?auto=compress&cs=tinysrgb&h=472&w=640) no-repeat center / cover;
			}
			.projects-photo-5 {
				background: url(https://images.pexels.com/photos/450278/pexels-photo-450278.jpeg?auto=compress&cs=tinysrgb&h=427&w=640) no-repeat center / cover;
			}
			.projects-photo-6 {
				background: url(https://images.pexels.com/photos/6664/magazines-stack-reading-magazine.jpg?auto=compress&cs=tinysrgb&h=426&w=640) no-repeat center / cover;
			}
			.projects-photo-7 {
				background: url(https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?auto=compress&cs=tinysrgb&h=426&w=640) no-repeat center / cover;
			}
			.projects-photo-8 {
				background: url(https://images.pexels.com/photos/428338/pexels-photo-428338.jpeg?auto=compress&cs=tinysrgb&h=427&w=640) no-repeat center / cover;
			}
			.projects-photo-9 {
				background: url(https://images.pexels.com/photos/546162/pexels-photo-546162.jpeg?auto=compress&cs=tinysrgb&h=429&w=640) no-repeat center / cover;
			}
			.projects-photo-10 {
				background: url(https://images.pexels.com/photos/697055/pexels-photo-697055.jpeg?auto=compress&cs=tinysrgb&h=459&w=640) no-repeat center / cover;
			}
			.projects-photo-11 {
				background: url(https://images.pexels.com/photos/860379/pexels-photo-860379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=412&w=640) no-repeat center / cover;
			}
			.projects-photo-12 {
				background: url(https://images.pexels.com/photos/6348/reading-magazine-open-newspaper.jpg?auto=compress&cs=tinysrgb&h=426&w=640) no-repeat center / cover;
			}
			.layer {
				opacity: 0;
				span {
					font-size: 18px;
					line-height: 18px;
					color: $white;
					position: absolute;
					top: 45px;
					left: 0;
					right: 0;
					@media (max-width: 1200px) {
						top: 135px;
					}
					@media (max-width: 850px) {
						top: 75px;
					}
					@media (max-width: 768px) {
						top: 125px;
					}
				}
				p {
					font-size: 12px;
					line-height: 21px;
					color: $white;
					position: absolute;
					top: 75px;
					left: 0;
					right: 0;
					padding: 0 55px;
					font-weight: light;
					@media (max-width: 1200px) {
						top: 165px;
					}
					@media (max-width: 850px) {
						top: 95px;
					}
					@media (max-width: 768px) {
						top: 155px;
					}
				}
			}
		}
	}
	button {
		margin-top: 0;
		@media (max-width: 1200px) {
			margin-bottom: 50px;
		}
	}
}

#team {
	height: 710px;
	text-align: center;
	background: url('../img/team_background.jpg') no-repeat center / cover;
	@media (max-width: 1200px) {
		height: 100%;
		background: $black;
	}
	.container {
		.car-to-hide {
			@media (max-width: 1350px) {
				display: none;
			}
		}
		h2 {
			color: $white;
		}
		h3 {
			margin-bottom: 43px;
		}
		.col-4 {
			text-align: center;
			@media (max-width: 1200px) {
				margin-bottom: 50px;
			}
			.layer {
				width: 350px;
				height: 432px;
				background: $white;
				margin: 0 auto;
				@media (max-width: 420px) {
					width: 280px;
				}
				img {
					margin-top: 48px;
					margin-bottom: 38px;
				}
				h4 {
					font-size: 21px;
					line-height: 21px;
					font-weight: 600;
					margin-bottom: 4px;
				}
				span {
					font-size: 14px;
					line-height: 24px;
					font-weight: 300;
				}
				.social {
					margin-top: 36px;
					height: 33px;
					a {
						&:nth-of-type(6) {
							@media (max-width: 420px) {
								display: none;
							}
						}
					}
					.fa-circle {
						font-size: 5px !important;
						margin-right: 2px;
						margin-bottom: 2px;
						&:last-of-type {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}


#clients {
	height: 682px;
	background: $mild;
	text-align: center;
	@media (max-width: 1250px) {
		height: 100%;
	}
	.container {
		.car-to-hide {
			@media (max-width: 1250px) {
				display: none;
			}
		}
		h3 {
			margin-bottom: 78px;
		}
		h4 {
			margin-top: 30px;
			font-size: 24px;
			line-height: 18px;
			font-weight: bold;
			margin-bottom: 12px;
		}
		span {
			font-size: 18px;
			line-height: 18px;
			font-weight: 500;
		}
		.cite {
			display: block;
			margin: 35px auto 18px;
		}
		p {
			font-size: 14px;
			line-height: 25px;
			font-weight: 400;
			color: $gray5;
			padding-left: 220px;
			padding-right: 220px;
			padding-bottom: 44px;
			@media (max-width: 930px) {
				padding-left: 100px;
				padding-right: 100px;
			}
			@media (max-width: 500px) {
				padding-left: 50px;
				padding-right: 50px;
			}
		}
	}
}

#client-logos {
	height: 156px;
	background: $white;
	text-align: center;
	border-top: 1px solid $gray3;
	@media (max-width: 1200px) {
		height: 100%;
	}
	img {
		display: block;
		margin: 43px auto 50px;
	}
}

#prices {
	height: 580px;
	background: $gray2;
	text-align: center;
	border-bottom: 1px solid $gray4;
	@media (max-width: 1200px) {
		height: 100%;
	}
	&::before {
  content: "";
	  display: block;
	  height: 5px;
	  background: transparent;
	  background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	  background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	  background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	  filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	}
	h2 {
	  padding-top: 55px;
	}
	h3 {
	  margin-bottom: 50px;
	}
	.row {
		.col-3 {
			height: 432px;
			@media (max-width: 1200px) {
				height: 350px;
				margin-bottom: 30px;
			}
			.layer {
				margin: 0 auto;
				width: 255px;
				height: 343px;
				background: $white;
				@media (max-width: 350px) {
					width: 200px;
				}
				h4 {
					font-size: 14px;
					padding-top: 31px;
					color: $black2;
				}
				h5 {
					font-size: 30px;
					font-weight: bold;
					padding-top: 10px;
					color: $black2;
				}
				h6 {
					font-size: 10px;
					letter-spacing: 1px;
					padding-top: 4px;
					padding-bottom: 23px;
					color: $gray;
				}
				p {
					font-size: 10px;
					line-height: 13px;
					color: $gray5;
				}
				.btn-gold {
					width: 129px;
					margin-top: 20px;
					background: $black3;
					&:hover {
						background: $gold;
						cursor: pointer;
					}
				}
			}
		}
	}
}

#premium {
	height: 756px;
	background: $white;
	text-align: center;
		@media (max-width: 1200px) {
			height: 100%;
		}
	.container {
		.car-to-hide {
			@media (max-width: 1450px) {
				display: none;
			}
		}
		img {
			@media (max-width: 1100px) {
				width: 300px;
				padding: 10px;
			}
		}
		ul {
			list-style-type: none;
			text-align: left;
			padding-left: 80px;
			padding-right: 100px;
			margin-top: 20px;
			@media (max-width: 480px) {
				padding-right: 40px;
			}
			li {
				position: relative;
				h4 {
					font-size: 21px;
					font-weight: bold;
					line-height: 21px;
					color: $black2;
					padding-left: 30px;
					padding-bottom: 3px;
					@media (max-width: 480px) {
						font-size: 16px;
					}
				}
				p {
					font-size: 14px;
					line-height: 25px;
					color: $gray6;
					padding-left: 30px;
					&:last-of-type {
						padding-bottom: 20px;
					}
					@media (max-width: 480px) {
						font-size: 12px;
					}
				}
			}
			li::before {
				content: url('../img/bird.jpg');
				position: absolute;
				left: -30px;
				top: -5px;
			}
		}
		.line {
			border-top: 1px solid $gray4;
			margin-bottom: 37px;
			margin-top: 30px;
			@media (max-width: 1450px) {
				display: none;
			}
		}
		.btn-gold {
			margin-top: 50px;
			margin-bottom: 60px;
			@media (max-width: 700px) {
				margin-top: 20px;
			}
		}
	}
}

#facts {
  height: 412px;
  background: $black;
  color: $white;
	text-align: center;
	@media (max-width: 1200px) {
		height: 100%;
	}
	.col-3 {
		padding: 0 45px 0;
			h3 {
		    margin-bottom: 45px;
		  }
	    h4 {
	      text-transform: uppercase;
	      font-size: 48px;
	      line-height: 28px;
				color: $gold;
				margin-bottom: 7px;
	    }
			span {
				display: inline-block;
				width: 19px;
				border-bottom: 3px solid $gray5;
			}
			h5 {
				margin-top: 5px;
				text-transform: uppercase;
				font-size: 18px;
				line-height: 24px;
				color: $white;
				font-weight: 600;
			}
	    p {
	      color: $gray;
	      font-size: 12px;
	      line-height: 21px;
				padding: 0 10px 0;
				font-weight: 300;
				margin-top: 10px;
				@media (max-width: 1200px) {
					margin-bottom: 50px;
				}
	    }
		}
  }

#tell {
	height: 75px;
	text-align: center;
	line-height: 75px;
	.fa-share-alt {
		color: $gray;
		margin-right: 16px;
	}
	span {
		color: $gray;
		font-size: 10px;
		font-weight: bold;
		margin-right: 37px;
		@media (max-width: 768px) {
			display: none;
		}
		&:first-of-type {
			font-size: 14px;
			margin-right: 62px;
			@media (max-width: 768px) {
				display: inline;
				margin-right: 30px;
			}
			@media (max-width: 480px) {
				display: none;
			}
		}
	}
	.icon-btn {
		margin-right: 2px;
		@media (max-width: 768px) {
			margin-right: 10px;
		}
		&:hover {
			background-color: $black;
		}
	}
	.twitter {
		background: #34c5f0;
	}
	.linkedin {
		background: #127cb4;
	}
	.facebook {
		background: #336297;
	}
	.google {
		background: #e74237;
	}
	.pinterest {
		background: #b71c29;
	}
}

#contact {
	height: 600px;
	background: $mild;
	text-align: center;
	border-top: 1px solid $gray3;
	@media (max-width: 650px) {
		height: 100%;
	}
	h3 {
		margin-bottom: 83px;
	}
	form {
		margin: 0 auto;
		width: 535px;
		text-align: left;
		input {
			background: inherit;
			border-bottom: 2px solid $gray;
			font-size: 13px;
			line-height: 25px;
			margin-bottom: 40px;
			padding-bottom: 7px;
			color: $black;
			&:last-of-type {
				margin-top: 40px;
				margin-bottom: 5px;
			}
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $gray7;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: $gray7;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: $gray7;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: $gray7;
			}
		}
		#name {
		margin-right: 30px;
		}
	}
}

#map {
	height: 417px;
	background: url('../img/map.jpg') no-repeat center / cover;
	.layer {
		background: $white;
		height: 343px;
		margin-top: 36px;
		font-size: 12px;
		line-height: 30px;
		li {
			width: 581px;
			padding-left: 40px;
			margin-bottom: 14px;
			list-style-type: none;
			&:first-of-type {
				padding-top: 61px;
			}
			.icon-btn {
				margin-right: 20px;
				background: $gray;
				cursor: default;
				font-size: 18px;
				padding-top: 1px;
				&:hover {
					background: $gray;
				}
			}
		}
		span {
			line-height: 12px;
			font-weight: 500;
			color: $gray5;
			margin-bottom: 14px;
		}
	}
	div {
    position: relative;
		img {
			z-index: 5;
			position: absolute;
			left: 48px;
			bottom: -78px;
			cursor: pointer;
		}
	}
}


footer {
	height: 262px;
	background-color: $black;
	border-top: 1px solid $gray3;
	position: relative;
	@media (max-width: 1200px) {
		height: 100%;
	}
	.row {
		@media (max-width: 1450px) {
			padding-top: 20px;
		}
		.col-4 {
			margin-top: 31px;
			p {
				font-size: 12px;
				line-height: 21px;
				color: $gray5;
			}
			span {
				color: $white;
				font-size: 14px;
				position: absolute;
				bottom: 49px;
			}
			.icon-btn {
				background-color: $black3;
				text-align: center;
				&:hover {
					background-color: $gold;
				}
				.fa-circle {
					font-size: 5px !important;
					margin-right: 2px;
					margin-bottom: 2px;
					&:last-of-type {
						margin-right: 0;
					}
				}
			}
			.layer {
				background-color: $black3;
				height: 198px;
				margin-left: 13px;
				padding-top: 51px;
				form {
					margin: 0 auto;
					.email-sub {
						margin-left: 78.5px;
						text-align: center;
						background: inherit;
						border-bottom: 2px solid $gray;
						font-size: 13px;
						line-height: 25px;
						padding-bottom: 7px;
						color: $white;
						display: block;
						width: 220px;
						&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
							color: $gray7;
						}
						&::-moz-placeholder { /* Firefox 19+ */
							color: $gray7;
						}
						&:-ms-input-placeholder { /* IE 10+ */
							color: $gray7;
						}
						&:-moz-placeholder { /* Firefox 18- */
							color: $gray7;
						}
					}
					.btn-gold {
						margin-left: 93px;
						margin-top: 28px;
						cursor: pointer;
						color: $white;
					}
				}
			}
		}
	}

}
